# 변수 중요도 분석

## ORIGINAL

In [1]:
import pandas as pd

In [2]:
variable = pd.read_csv('/content/drive/MyDrive/data/변수 중요도_original.csv')

In [ ]:
variable

   term    variable  importances  rank
0    7일       KOSPI     0.060383   1.0
1    7일      S&P500     0.053219   2.0
2    7일         SOX     0.052520   3.0
3    7일         ROC     0.050636   4.0
4    7일         ATR     0.049057   5.0
..  ...         ...          ...   ...
73  90일      Volume     0.013686  22.0
74  90일        MTM3     0.012844  23.0
75  90일    next_rtn     0.008484  24.0
76  90일  log_return     0.008413  25.0
77  90일        MTM1     0.007854  26.0

[78 rows x 4 columns]

# 각 기간 별 변수 중요도 상/하위 변수 5개

In [ ]:
rank5 = variable[variable['rank'] <= 5]

In [ ]:
rank5

   term variable  importances  rank
0    7일    KOSPI     0.060383   1.0
1    7일   S&P500     0.053219   2.0
2    7일      SOX     0.052520   3.0
3    7일      ROC     0.050636   4.0
4    7일      ATR     0.049057   5.0
26  30일    KOSPI     0.083896   1.0
27  30일   S&P500     0.074700   2.0
28  30일      SOX     0.066188   3.0
29  30일       lb     0.061780   4.0
30  30일       ub     0.054498   5.0
52  90일      SOX     0.101108   1.0
53  90일   S&P500     0.087541   2.0
54  90일      ROC     0.065808   3.0
55  90일    KOSPI     0.055066   4.0
56  90일     MACD     0.050303   5.0

In [ ]:
raw5 = variable[variable['rank']>20] # 하위 5개

In [ ]:
raw5

   term    variable  importances  rank
20   7일        MTM3     0.029345  21.0
21   7일         Low     0.029191  22.0
22   7일        High     0.028903  23.0
23   7일        Open     0.027529  24.0
24   7일  log_return     0.027441  25.0
25   7일        MTM1     0.023627  26.0
46  30일      Volume     0.019765  21.0
47  30일         WPR     0.019695  22.0
48  30일        MTM3     0.016454  23.0
49  30일    next_rtn     0.014346  24.0
50  30일  log_return     0.013027  25.0
51  30일        MTM1     0.010813  26.0
72  90일         WPR     0.016562  21.0
73  90일      Volume     0.013686  22.0
74  90일        MTM3     0.012844  23.0
75  90일    next_rtn     0.008484  24.0
76  90일  log_return     0.008413  25.0
77  90일        MTM1     0.007854  26.0

# MA20+MA60

In [ ]:
variable_ma = pd.read_csv('/content/drive/MyDrive/data/변수 중요도_ma.csv')

In [ ]:
variable_ma

   term      variable  importances  rank
0    7일         KOSPI     0.051680   1.0
1    7일  MA10_volumne     0.043694   2.0
2    7일        S&P500     0.043610   3.0
3    7일  MA60_volumne     0.043142   4.0
4    7일           SOX     0.041758   5.0
..  ...           ...          ...   ...
85  90일        Volume     0.009016  26.0
86  90일          MTM3     0.008944  27.0
87  90일    log_return     0.006776  28.0
88  90일      next_rtn     0.006733  29.0
89  90일          MTM1     0.006198  30.0

[90 rows x 4 columns]

In [ ]:
rank5_ma = variable_ma[variable_ma['rank'] <= 5]

In [ ]:
rank5_ma.to_csv('/content/drive/MyDrive/data/rank5_ma.csv')

In [ ]:
row5_ma = variable_ma[variable_ma['rank'] > 22]

In [ ]:
row5_ma

   term    variable  importances  rank
22   7일        MTM3     0.027500  23.0
23   7일  log_return     0.026557  24.0
24   7일        High     0.026529  25.0
25   7일         Low     0.026433  26.0
26   7일        Open     0.025545  27.0
27   7일        MTM1     0.022783  28.0
50  30일         CCI     0.017912  23.0
51  30일      Volume     0.017884  24.0
52  30일        MTM3     0.015499  25.0
53  30일    next_rtn     0.012151  26.0
54  30일  log_return     0.011374  27.0
55  30일        MTM1     0.010378  28.0
78  90일         WPR     0.015168  23.0
79  90일        MTM3     0.010816  24.0
80  90일      Volume     0.010690  25.0
81  90일    next_rtn     0.007795  26.0
82  90일  log_return     0.007638  27.0
83  90일        MTM1     0.006877  28.0

# 이동평균선 라벨링

In [ ]:
ma_label = pd.read_csv('/content/drive/MyDrive/data/이동평균선 변수 중요도_7일.csv')

In [ ]:
ma_label

    term variable  importances  rank     model
0     7일    KOSPI     0.051960   1.0    forest
1     7일      ROC     0.047655   2.0    forest
2     7일     MACD     0.045902   3.0    forest
3     7일   S&P500     0.045875   4.0    forest
4     7일      SOX     0.045731   5.0    forest
..   ...      ...          ...   ...       ...
107   7일     Open     0.010160  24.0  adaboost
108   7일     MTM3     0.009113  25.0  adaboost
109   7일   middle     0.009107  26.0  adaboost
110   7일     MA20     0.007546  27.0  adaboost
111   7일     MTM1     0.003476  28.0  adaboost

[112 rows x 5 columns]

In [ ]:
rank5_ma_label = ma_label[ma_label['rank'] <= 5]
rank5_ma_label

   term   variable  importances  rank     model
0    7일      KOSPI     0.051960   1.0    forest
1    7일        ROC     0.047655   2.0    forest
2    7일       MACD     0.045902   3.0    forest
3    7일     S&P500     0.045875   4.0    forest
4    7일        SOX     0.045731   5.0    forest
28   7일      KOSPI   207.000000   1.0       lgb
29   7일       MACD   200.000000   2.0       lgb
30   7일        ROC   198.000000   3.0       lgb
31   7일        VIX   174.000000   4.0       lgb
32   7일        ATR   157.000000   5.0       lgb
56   7일       High     0.069231   1.0       xgb
57   7일  Adj Close     0.066408   2.0       xgb
58   7일       MA10     0.055706   3.0       xgb
59   7일        MA5     0.053442   4.0       xgb
60   7일         ub     0.051423   5.0       xgb
84   7일      KOSPI     0.109420   1.0  adaboost
85   7일       MA60     0.092301   2.0  adaboost
86   7일       MACD     0.082110   3.0  adaboost
87   7일        SOX     0.074032   4.0  adaboost
88   7일        CCI     0.069551   5.0  adaboost

In [ ]:
row5_ma_label = row5_ma_label[row5_ma_label['rank'] > 22]
row5_ma_label

# 이동평균선 30일 라벨링

In [ ]:
ma_label_30 = pd.read_csv('/content/drive/MyDrive/data/이동평균선 변수 중요도_30일.csv')

In [ ]:
ma_label_30

    term    variable  importances  rank     model
0    30일       KOSPI     0.070156   1.0    forest
1    30일        MA60     0.069345   2.0    forest
2    30일      S&P500     0.064127   3.0    forest
3    30일         SOX     0.055427   4.0    forest
4    30일         ATR     0.050027   5.0    forest
..   ...         ...          ...   ...       ...
107  30일  log_return     0.007173  24.0  adaboost
108  30일        Open     0.005451  25.0  adaboost
109  30일      Volume     0.005250  26.0  adaboost
110  30일    next_rtn     0.001837  27.0  adaboost
111  30일        MTM1     0.000000  28.0  adaboost

[112 rows x 5 columns]

In [ ]:
rank5_ma_label30 = ma_label_30[ma_label_30['rank'] <= 5]
rank5_ma_label30

   term   variable  importances  rank     model
0   30일      KOSPI     0.070156   1.0    forest
1   30일       MA60     0.069345   2.0    forest
2   30일     S&P500     0.064127   3.0    forest
3   30일        SOX     0.055427   4.0    forest
4   30일        ATR     0.050027   5.0    forest
28  30일       MA60   266.000000   1.0       lgb
29  30일      KOSPI   223.000000   2.0       lgb
30  30일     S&P500   218.000000   3.0       lgb
31  30일        ATR   210.000000   4.0       lgb
32  30일        SOX   199.000000   5.0       lgb
56  30일        Low     0.088528   1.0       xgb
57  30일  Adj Close     0.073283   2.0       xgb
58  30일       MA60     0.070999   3.0       xgb
59  30일      Close     0.061287   4.0       xgb
60  30일      KOSPI     0.055610   5.0       xgb
84  30일      KOSPI     0.102350   1.0  adaboost
85  30일        VIX     0.088402   2.0  adaboost
86  30일        ATR     0.087855   3.0  adaboost
87  30일     S&P500     0.085539   4.0  adaboost
88  30일       MA60     0.079104   5.0  adaboost

In [ ]:
row30_ma_label = row30_ma_label[row30_ma_label['rank'] > 22]
row30_ma_label

# 이동평균선 90일 라벨링

In [ ]:
ma_label_90 = pd.read_csv('/content/drive/MyDrive/data/이동평균선 변수 중요도_90일.csv')

In [ ]:
ma_label_90

    term  variable  importances  rank     model
0    90일    S&P500     0.088961   1.0    forest
1    90일       SOX     0.088842   2.0    forest
2    90일      MA60     0.062859   3.0    forest
3    90일     KOSPI     0.056309   4.0    forest
4    90일       VIX     0.051898   5.0    forest
..   ...       ...          ...   ...       ...
107  90일       CCI     0.001690  24.0  adaboost
108  90일      MTM1     0.000660  25.0  adaboost
109  90일    Volume     0.000102  26.0  adaboost
110  90일     RASD5     0.000000  27.5  adaboost
111  90일  next_rtn     0.000000  27.5  adaboost

[112 rows x 5 columns]

In [ ]:
rank5_ma_label90 = ma_label_90[ma_label_90['rank'] <= 5]
rank5_ma_label90

   term variable  importances  rank     model
0   90일   S&P500     0.088961   1.0    forest
1   90일      SOX     0.088842   2.0    forest
2   90일     MA60     0.062859   3.0    forest
3   90일    KOSPI     0.056309   4.0    forest
4   90일      VIX     0.051898   5.0    forest
28  90일   S&P500   293.000000   1.0       lgb
29  90일     MA60   284.000000   2.0       lgb
30  90일    KOSPI   262.000000   3.0       lgb
31  90일      SOX   246.000000   4.0       lgb
32  90일      ROC   227.000000   5.0       lgb
56  90일      MA5     0.091014   1.0       xgb
57  90일      SOX     0.080232   2.0       xgb
58  90일      Low     0.074549   3.0       xgb
59  90일       lb     0.074376   4.0       xgb
60  90일    Close     0.073897   5.0       xgb
84  90일     MA60     0.195485   1.0  adaboost
85  90일    KOSPI     0.128967   2.0  adaboost
86  90일      VIX     0.100711   3.0  adaboost
87  90일      SOX     0.087128   4.0  adaboost
88  90일   S&P500     0.087078   5.0  adaboost

In [ ]:
row90_ma_label = row90_ma_label[row90_ma_label['rank'] > 22]
row90_ma_label

In [ ]:
# 변수 중요도 표 
rank5 = pd.concat([rank5_ma_label, rank5_ma_label30, rank5_ma_label90])

# 변수 중요도 표 생성

In [ ]:
rank5 = pd.concat([rank5_ma_label, rank5_ma_label30, rank5_ma_label90])
rank5_forest = rank5[rank5['model'] == 'forest']

In [ ]:
rank5_forest.to_csv('/content/drive/MyDrive/data/rank5_이동평균선 라벨링.csv', index = False)

In [ ]:
rank5_ma7 = pd.read_csv('/content/drive/MyDrive/data/변수 중요도_ma_7일.csv')
rank5_ma30 = pd.read_csv('/content/drive/MyDrive/data/변수 중요도_ma_30일.csv')
rank5_ma90 = pd.read_csv('/content/drive/MyDrive/data/변수 중요도_ma_90일.csv')

rank5_ma = pd.concat([rank5_ma7, rank5_ma30, rank5_ma90])

In [ ]:
#rank5_ma = rank5_ma[rank5_ma['model'] == 'forest']
#rank5_ma = rank5_ma[rank5_ma['rank'] > 22 ]
rank5_ma.to_csv('/content/drive/MyDrive/data/ma20+ma60.csv')